@import '../../common_projects_utilities/css/font-awesome', '../../common_projects_utilities/css/reset';

* {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;

    font-family: 'Roboto', sans-serif;

    .title {
        font-size: 22px;
        margin-bottom: 16px;
    }

    .updated-text {
        text-align: center;
        margin-top: 12px;
    }

    .is-updated {
        background-color: #fc4155;
        padding: 0px 6px;
        &.positive { background-color: lightgreen; }
    }

    .reInit {
        display: none;
    }
    
    #contenedor-barra {
        height: 45px;
        width: 100%;
    
        position: relative;
    
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin: 16px auto;

        .barras {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .barra--empty-totals {
                //position: absolute;
                width: 100%;
                height: 7px;
                background-color: #eee;
                
                display: flex;
                justify-content: space-between;
    
                div {
                    opacity: .75;
                    height: auto;
                }

                .barra-sies {
                    height: 7px;
                    width: 0%;
                    background-color:green;
                    transition: width 2s;
                }
                .barra-noes {
                    height: 7px;
                    width: 0%;
                    background-color: red;
                    transition: width 2s;
                }
            }

            .barra--empty-parties {
                //position: absolute;
                width: 100%;
                height: 12.5px;
                background-color: #eee;
                
                position: relative;
    
                div {
                    opacity: .75;
                    height: 12.5px;
                    width: 0%;
                    transition: width 2s;
                }

                .barra-sies {
                    float: left;
                }
                .barra-noes {
                    float: right;
                }
            }
        }        

        .line-middle-68 {
            position: absolute;
            border: .5px solid #353535;
            top: 0px;
            left: calc(50% - 0.5px);
            height: 45px;
        }
    }

    .btn {
        cursor: pointer;
        &--yes {
            &.selected {
                background-color: green;
            }
        }
        &--abs {
            &.selected {
                background-color: lightgray;
            }
        }
        &--no {
            &.selected {
                background-color: red;
            }
        }
        
    }

    .btn__party {
        box-sizing: border-box;
        width: 100%;
        height: 20px;
        margin: 8px auto;
        padding: 0px 16px;
        cursor: pointer;

        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        background-color: #c6c6c6;

        span {
            pointer-events: none;
        }

        span:first-of-type {
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 5px;
                transform: translateY(-50%);
                width: 4px;
                height: 12px;
                background-color: red;
            }
        }

        &.btn__party--psc {
            span:first-of-type{ &::before {background: #f60b01;} } 
        }
        &.btn__party--erc {
            span:first-of-type{ &::before {background: #f9b33c;} } 
        }
        &.btn__party--jxc {
            span:first-of-type{ &::before {background: #20c0b2;} } 
        }
        &.btn__party--cup {
            span:first-of-type{ &::before {background: #fff200;} } 
        }
        &.btn__party--pp {
            span:first-of-type{ &::before {background: #48aafd;} } 
        }
        &.btn__party--cs {
            span:first-of-type{ &::before {background: #f45a09;} } 
        }
        &.btn__party--podem {
            span:first-of-type{ &::before {background: #692772;} } 
        }
        &.btn__party--vox {
            span:first-of-type{ &::before {background: #77be2d;} } 
        }

        &.selected {
            background-color: #fff;
            border: 1px solid;
        }
    }   
}

@media only screen and (max-width: 768px){
    .container {
        box-sizing: border-box;
        padding: 0px 8px;       
    }
}